@tailwind base;
@tailwind components;
@tailwind utilities;

:root {

  /* COLORS */
  --primary: #B711F1;
  --secundary: #F49223;

  /* BASE COLORS */
  --black: #1E1E1E;
  --white: #FFF;

  --app-error: #fa7171;
  --app-normal: #5481fd;
  --app-success: #36a91c;

  --app-gray: #AEAEAE;
  --app-gray-50: #E4E4E4;
  
  --black-70: #4E4E4E;
  --black-50: #737373;
  --black-30: #C8C8C8;
  --black-10: #e8e8e8;
;

  /* BORDER */
  --app-border: #D7D7D7;


  /* SIZES */
  --max-container: 1200px;
  --max-aside: 400px
}